name: Run tests

on: [ push, workflow_dispatch ]

jobs:
  setup:
    name: Set up services
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up jdk
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '21'

      - name: Cache Maven repository
        uses: actions/cache@v4
        with:
            path: ~/.m2/repository
            key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
            restore-keys: |
              ${{ runner.os }}-maven-

      - name: Set up services
        run: pwd && cd infra/docker_compose && pwd && bash ./restart-docker.sh && pwd && cd ../.. && pwd

  run-tests:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - name: Set permissions
        run: chmod +x mvnw

      - name: Run tests
        run: ./mvnw clean test -q
        env:
          APIBASEURI: http://localhost:4111
          UIBASEURL: http://frontend